@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #111 inset !important;
    -webkit-text-fill-color: #888;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #5f7ff8 white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #5f7ff8;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c1e693;
  border-radius: 14px;
  border: 3px solid #5f7ff8;
}

:root {
  --foreground-rgb: #fcfcfb;
  --background-color: #ededed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
  overflow-x: hidden;

  h2 {
    /* Heading/H2 */
    font-family: var(--font-jakarta);
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 3.75rem */
    letter-spacing: 0.06rem;
  }

  h5 {
    font-family: var(--font-jakarta);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 1.925rem */
  }

  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .blog-content {
    ul {
      list-style-type: disc;
      margin: 0 2.5rem;
    }

    a {
      text-decoration: underline;
    }

    .has-large-font-size {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  .dot-bg {
    background-size: 100px 100px;
    background-image: linear-gradient(to right, #e0e0e0 1px, transparent 1px),
      linear-gradient(to bottom, #e0e0e0 1px, #ffffff 1px);
  }

  @variants responsive {
    .dip-1 {
      /* Display/D1 */
      font-family: var(--font-jakarta);
      font-size: 108px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 129.6px */
      letter-spacing: -1.08px;
    }

    .font-d2 {
      /* Display/D2 */
      font-family: var(--font-jakarta);
      font-size: 6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 7.2rem */
      letter-spacing: -0.06rem;
    }

    .font-d3 {
      /* Display/D3 */
      font-family: var(--font-jakarta);
      font-size: 5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: -0.05rem;
    }

    .dip-3 {
      /* Display/D3 */
      font-family: var(--font-jakarta);
      font-size: 5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.05rem;
    }

    .font-d4 {
      /* Display/D4 | BOLD */
      font-family: var(--font-jakarta);
      font-size: 4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 4.8rem */
      letter-spacing: -0.04rem;
    }
    .font-d4-reg {
      /* Display/D4 | BOLD */
      font-family: var(--font-jakarta);
      font-size: 4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 4.8rem */
      letter-spacing: -0.04rem;
    }

    .font-d5 {
      /* Display/D5 */
      font-family: var(--font-jakarta);
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 3rem */
      letter-spacing: -0.025rem;
    }

    .px-glob-25 {
      padding: 0 1rem;
    }

    .font-h1 {
      /* Heading/H1 */
      font-family: var(--font-urbanist);
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 110%; /* 3.85rem */
    }

    .font-h3 {
      /* Heading/H3 */
      font-family: var(--font-urbanist);
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 125%; /* 3.125rem */
      letter-spacing: 0.05rem;
    }

    .font-h4 {
      /* Heading/H4 */
      font-family: var(--font-urbanist);
      font-size: 2rem;
      line-height: 110%; /* 2.2rem */
      letter-spacing: 0.04rem;
    }

    .font-h5 {
      /* h5 */
      font-family: var(--font-jakarta);
      font-size: 1.75rem;
      font-style: normal;
      line-height: 110%; /* 1.925rem */
    }

    .font-h6 {
      /* Heading/H6 */
      font-family: var(--font-urbanist);
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 110%; /* 1.65rem */
      letter-spacing: 0.03rem;
    }

    .font-h7 {
      /* Heading/H7 */
      font-family: var(--font-urbanist);
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 110%; /* 1.375rem */
      letter-spacing: 0.025rem;
    }

    .h8 {
      /* Heading/H8 */
      font-family: var(--font-urbanist);
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 110%; /* 1.1rem */
      letter-spacing: 0.02rem;
    }

    .font-h9 {
      /* Heading/H9 */
      font-family: var(--font-urbanist);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: 110%; /* 0.825rem */
      letter-spacing: 0.015rem;
    }

    .font-b1 {
      /* Body/B1 | 20/regular */
      font-family: var(--font-urbanist);
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 1.875rem */
    }

    .font-b2 {
      /* Body/B2 | 16/regular */
      font-family: var(--font-urbanist);
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 1.5rem */
      letter-spacing: 0.02rem;
    }

    .font-b3 {
      /* Body/B3 | 14/regular */
      font-family: var(--font-urbanist);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 1.3125rem */
    }

    .font-b4 {
      /* Body/B4 | 12/regular */
      font-family: var(--font-urbanist);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 300;
      line-height: 125%; /* 0.9375rem */
    }
    .font-b4-bold {
      /* Body/B4 | 12/regular */
      font-family: var(--font-urbanist);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 0.9375rem */
    }

    .font-b5 {
      /* Body/B5 | 10/regular */
      font-family: var(--font-urbanist);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 0.9375rem */
    }

    .font-l4 {
      /* Label/L4 | 12/medium */
      font-family: var(--font-urbanist);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 125%; /* 0.9375rem */
    }

    .max-screen {
      max-width: 1200px;
    }
  }
}
