@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --foreground-rgb: #fcfcfb;
  --background-color: #ededed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
  overflow-x: hidden;

  h2 {
    /* Heading/H2 */
    font-family: var(--font-jakarta);
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 3.75rem */
    letter-spacing: 0.06rem;
  }

  h3 {
    /* Heading/H3 */
    font-family: var(--font-urbanist);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 3.125rem */
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }

  h5 {
    font-family: var(--font-jakarta);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 1.925rem */
  }

  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    flex: 0 0 auto;
    min-width: 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-d3 {
    /* Display/D3 */
    font-family: var(--font-jakarta);
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.05rem;
  }
  .font-h5 {
    /* h5 */
    font-family: var(--font-jakarta);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 1.925rem */
  }

  .dot-bg {
    background-size: 100px 100px;
    background-image: linear-gradient(to right, #e0e0e0 2px, transparent 1px),
      linear-gradient(to bottom, #e0e0e0 2px, #ededed 1px);
  }

  .dip-1 {
    /* Display/D1 */
    font-family: var(--font-jakarta);
    font-size: 108px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 129.6px */
    letter-spacing: -1.08px;
  }

  .dip-3 {
    /* Display/D3 */
    font-family: var(--font-jakarta);
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.05rem;
  }

  .h8 {
    /* Heading/H8 */
    font-family: var(--font-urbanist);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 1.1rem */
    letter-spacing: 0.02rem;
  }

  .max-screen {
    max-width: 1280px;
  }

  .bento-grid {
    grid-template-areas: 'design changes cost' 'design service service';
    gap: 1.5rem;
  }
}
